.home-wrapper {
  width: 100%;

  --wrapper-margin-inline: 2rem;

  @media (min-width: 768px) {
    --wrapper-margin-inline: 5rem;
  }
}

.home-main {
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home-search {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 0 0 8rem;

  @media (max-width: 767px) {
    flex-basis: 6.5rem;
  }

  .search-wrapper {
    margin-bottom: 1rem;
  }
}

.home-content {
  flex-grow: 1;
}

.home-error {
  display: flex;
  align-items: baseline;
  flex: 0 0 7rem;
}

.home-error-button {
  margin-inline: auto var(--wrapper-margin-inline);
  margin-top: 1.5rem;
}

.home-content-title {
  text-align: center;
  margin-block: 2rem;
}

.home-content-wrapper {
  margin: 3rem var(--wrapper-margin-inline);
}

.home-content-wrapper h2 {
  text-align: center;
}

.home-details {
  background-color: var(--secondary-bg);
  width: 0;
  transition: width 0.1s linear;
}

.home-details:not(:empty) {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 320px;
  width: 50%;
  padding: 2rem;
  box-sizing: border-box;
}
